[submodule "upwork-backend"]
	path = upwork-backend
	url = git@github.com:msanje/upwork-platform-backend.git
[submodule "hotel-management-platform"]
	path = hotel-management-platform
	url = git@github.com:msanje/hotel-management-platform.git
[submodule "code-execution"]
	path = code-execution
	url = git@github.com:msanje/code-execution-backend.git
[submodule "contest-platform-backend"]
	path = contest-platform-backend
	url = git@github.com:msanje/contest-platform-backend.git
[submodule "live-support-chat-system-backend"]
	path = live-support-chat-system-backend
	url = git@github.com:msanje/live-support-chat-system-backend.git
